.center_logo{
  margin:auto;
  width: 95%;
}

.logo{
  text-align: center;
  font-family: Arial;
  color: white;
  -webkit-text-stroke: 2px black;
  text-shadow: 5px 5px #000000;
  font-size: 200%;
  text-decoration: none;
}

.sidebar_logo{
  float: right;
  width: 24px;
}

body{
  background-image: url('https://i.imgur.com/GY8Rg8f.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu{
  width: 90%;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  opacity: 0.7;
}

.menu li{
  float: left;
}

li a{
  display:block;
  color: white;
  font-family: "Arsenal", sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #111;
}

.selected{
  color: black;
  background-color: #ffffff;
}

.selected:hover{
  background-color: #aaaaaa;
}

.tab{
  width: 90%;
  margin: auto;
  display: block;
  padding: 2px 10px 20px 10px;
  background-color: rgba(5,5,5,0.7);
  color: white;
  font-family: "Arsenal", sans-serif;
  font-size: 120%;
  overflow: auto;
}

.post{
  width:90%;
  margin: auto;
  display: block;
  padding: 2px 10px 2px 10px;
  background-color: rgba(5,5,5,0.7);
  color: white;
  font-family: "Arsenal", sans-serif;
  font-size: 120%;
  overflow: auto;
}

.exper-img{
  float: left;
  box-shadow: 5px 5px #000000;
  margin-right: 1%;
}
